.container{

    text-align:center;
}
h2{
    text-align:center;
}
.jumbotron{
    
    background:red;
    color:white;
}
.jumbotron a{
    background:yellow;
    color:red;
    border:2px;
}
#specialp
{
    color:red;
    text-align:center;
    font-size:50px;
}
table
{
    color:yellow;
    background:red;
    margin:auto;
    font-size:20px;

}