<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology Home page</title>
   <style>
    body{
        background-color: burlywood;
    }
    h1{
        color: red;
        text-align: center;
    }
    h2{
        color:brown;
    }
    span{
        color: blue ;
    }
   </style>
</head>
<body>
    <h1>Astrology App</h1>

    <h2>Hello Friend,<span>{{Wish}}</span> </h2>
    <h2>Now the server time is: <span> {{Time}}</span></h2>
    <h2>Astrology info for Ram: <span>{{Message}}</span> </h2>
    <h2>Your Bestfreind is: <span>{{Name}}</span> </h2>
    
    
</body>
</html>