<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
</head>
<body>
   
    
    <div class="container" style="text-align:center">
        {% include 'navbar.html'%}
        <h1>This is our service section </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, porro soluta! Fuga quae facilis cum doloremque dolorum aspernatur, esse quia sapiente iusto blanditiis ab a, officia sequi eius. Quo dignissimos quasi vero! Amet, sequi repellendus. Quasi aspernatur rerum voluptas. Soluta velit veritatis ab officia iste odit perspiciatis tenetur numquam omnis?</p>
        <button>contact us</button>
    </div>
</body>
</html>