<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style media="screen">
        body{
            background-color: yellow;
        }
        h1{
            color: red;
        }
        h2{
            color: green;
        }

    </style>
</head>
<body>
    <h1>Welcome to django template demo,Now the server time is{{insert_date}}</h1>
    <h2>Course Name:{{coursename}}</h2>
  <h2>Prerequisite:{{Prerequisite}}</h2>

  <ul>
    <li>{{g1}}</li>
    <li>{{g2}}</li>
    <li>{{g3}}</li>
    <li>{{g4}}</li>
  </ul>
<h1>Current Batch Students Are:</h1>

<table border="3">
   <thead>
    <th>S,NO</th>
    <th>Name</th>
    <th>Feedback</th>

   </thead>
   <tr>
    <td>101</td>
    <td>Ravi ranjan</td>
    <td>Good</td>
   </tr>
   <tr>
    <td>102</td>
    <td>Ravi Kumar</td>
    <td>Average</td>
   </tr>
   <tr>
    <td>101</td>
    <td>Nilesh</td>
    <td>Good</td>
   </tr>
</table>

    
    
</body>
</html>