<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/form1.css'%}">
    <title>Document</title>
</head>
<body>
    <h1> Student  Input Form</h1>
    <div class="container"  align='center'>
        {% if submitted %}
        <h1>Student with the name:{{sname}} processed successfully</h1>
        <h2>Enter next student information</h2><hr>
        {% else %}
        <h1>Student Input Form</h1>
        {% endif %}<hr>
    <form  method="post">
          {{form.as_p}}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" name="" value="submit">
    </form>
  </div>
  
    
</body>
</html>